@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

.hover-shadow-purple:hover {
  box-shadow: 0 3px 25px 5px rgba(74, 4, 78, 0.5), 0 4px 6px -4px rgba(74, 4, 78, 0.5);
}

.bg-white-game{
  background-color: whitesmoke;
}

.text-gradient-from-fucsia {
  background: linear-gradient(to right, #702459, #1e293b); /* Fuchsia 900 to Slate 950 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text-gradient-from-white {
  background: linear-gradient(to right, #fff, #702459); /* Fuchsia 900 to Slate 950 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}




